.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.checkbox input {
  display: none;
}

.checkbox label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.box {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  background: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.box::after {
  content: '';
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: transform 0.15s ease-in-out;
  background: var(--dark-bg);
  clip-path: polygon(
    14% 44%, 0 65%, 50% 100%,
    100% 16%, 80% 0%, 43% 62%
  );
}

.checkbox input:checked + label .box {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox input:checked + label .box::after {
  transform: scale(1);
}

.checkbox label:hover .box {
  border-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 200, 150, 0.2);
}

.checkbox a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}

